RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^index(.*)$ index.php [L]
RewriteRule ^orcamentos(.*)$ index.php?pagina=orcamentos [L]
RewriteRule ^os(.*)$ index.php?pagina=os [L]
RewriteRule ^compras(.*)$ index.php?pagina=compras [L]
RewriteRule ^contratos(.*)$ index.php?pagina=contratos [L]
