RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^os_filtros(.*)$ index.php?pagina=os_filtros [L]
RewriteRule ^tarefas_clientes(.*)$ index.php?pagina=tarefas_clientes [L]
RewriteRule ^orcamentos_pendentes(.*)$ index.php?pagina=orcamentos_pendentes [L]
RewriteRule ^orcamentos_aprovados(.*)$ index.php?pagina=orcamentos_aprovados [L]
RewriteRule ^orcamentos_vencidos(.*)$ index.php?pagina=orcamentos_vencidos [L]
RewriteRule ^listar_contratos(.*)$ index.php?pagina=listar_contratos [L]
RewriteRule ^grupos_disparos(.*)$ index.php?pagina=grupos_disparos [L]
RewriteRule ^plano_contas(.*)$ index.php?pagina=plano_contas [L]
RewriteRule ^usuarios(.*)$ index.php?pagina=usuarios [L]
RewriteRule ^grupo_acessos(.*)$ index.php?pagina=grupo_acessos [L]
RewriteRule ^acessos(.*)$ index.php?pagina=acessos [L]

RewriteRule ^index(.*)$ index.php [L]
RewriteRule ^receber(.*)$ index.php?pagina=receber [L]
RewriteRule ^pagar(.*)$ index.php?pagina=pagar [L]
RewriteRule ^formas_pgto(.*)$ index.php?pagina=formas_pgto [L]
RewriteRule ^frequencias(.*)$ index.php?pagina=frequencias [L]
RewriteRule ^funcionarios(.*)$ index.php?pagina=funcionarios [L]
RewriteRule ^fornecedores(.*)$ index.php?pagina=fornecedores [L]
RewriteRule ^cargos(.*)$ index.php?pagina=cargos [L]
RewriteRule ^clientes(.*)$ index.php?pagina=clientes [L]
RewriteRule ^home(.*)$ index.php?pagina=home [L]
RewriteRule ^caixas(.*)$ index.php?pagina=caixas [L]
RewriteRule ^tarefas(.*)$ index.php?pagina=tarefas [L]
RewriteRule ^anotacoes(.*)$ index.php?pagina=anotacoes [L]
RewriteRule ^agendas(.*)$ index.php?pagina=agendas [L]
RewriteRule ^mensalidades(.*)$ index.php?pagina=mensalidades [L]
RewriteRule ^dispositivos(.*)$ index.php?pagina=dispositivos [L]
RewriteRule ^marketing(.*)$ index.php?pagina=marketing [L]
RewriteRule ^tutoriais(.*)$ index.php?pagina=tutoriais [L]
RewriteRule ^chamados(.*)$ index.php?pagina=chamados [L]
RewriteRule ^cobrancas(.*)$ index.php?pagina=cobrancas [L]
RewriteRule ^modelos_contratos(.*)$ index.php?pagina=modelos_contratos [L]
RewriteRule ^rel_contratos(.*)$ index.php?pagina=rel_contratos [L]

RewriteRule ^marcas(.*)$ index.php?pagina=marcas [L]
RewriteRule ^modelos(.*)$ index.php?pagina=modelos [L]
RewriteRule ^equipamentos(.*)$ index.php?pagina=equipamentos [L]
RewriteRule ^servicos(.*)$ index.php?pagina=servicos [L]


RewriteRule ^categorias(.*)$ index.php?pagina=categorias [L]
RewriteRule ^sub_categorias(.*)$ index.php?pagina=sub_categorias [L]
RewriteRule ^produtos(.*)$ index.php?pagina=produtos [L]
RewriteRule ^entradas(.*)$ index.php?pagina=entradas [L]
RewriteRule ^saidas(.*)$ index.php?pagina=saidas [L]
RewriteRule ^estoque(.*)$ index.php?pagina=estoque [L]

RewriteRule ^vendas(.*)$ index.php?pagina=vendas [L]
RewriteRule ^compras(.*)$ index.php?pagina=compras [L]
RewriteRule ^lista_vendas(.*)$ index.php?pagina=lista_vendas [L]
RewriteRule ^orcamentos(.*)$ index.php?pagina=orcamentos [L]
RewriteRule ^os(.*)$ index.php?pagina=os [L]

RewriteRule ^comissoes(.*)$ index.php?pagina=comissoes [L]
RewriteRule ^minhas_comissoes(.*)$ index.php?pagina=minhas_comissoes [L]
RewriteRule ^rh(.*)$ index.php?pagina=rh [L]
RewriteRule ^site(.*)$ index.php?pagina=site [L]